---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a class="gpt-title">Helo AI</a>
    <a class="gpt-subtitle">Edu.</a>
  </div>
  <p mt-1 op-60>
    Alimentato dai poteri di Google Gemini
  </p>
</header>
